span[class~="sr-only"] {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  position: absolute !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  padding: 0 !important;
  margin: -1px !important;
}

html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #0a0a23;
  background-color: rgb(240, 162, 16);
}

h1 {
  max-width: 600px; 
  margin: 0 auto;
  padding: 24px 20px; 
}

h1 .flex {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
}

h1 .flex span:first-of-type {
  font-size: 11px; 
}

h1 .flex span:last-of-type {
  font-size: 19px; 
}

section {
  max-width: 640px; 
  margin: 0 auto;
  border: 2px solid #d0d0d5;
}

#years {
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  z-index: 999;
  top: 0;
  background: #0a0a23;
  color: #fff;
  padding: 8px 26px 8px 0; 
  margin: 0 -2px;
}

.year {
  padding: 8px 16px; 
  text-align: center; 
  font-weight: bold;
}


#years span[class] {
  font-weight: bold;
  width: 72px; 
  text-align: center;
  padding: 8px;
}

.table-wrap {
  padding: 0 12px 24px 12px; 
}

table {
  border-collapse: collapse;
  border: 0;
  width: 100%;
  position: relative;
  margin-top: 48px; 
}

table caption {
  color: #356eaf;
  font-size: 20px; 
  font-weight: normal;
  position: absolute;
  top: -36px; 
  left: 8px; 
}

tbody td {
  width: 100vw;
  min-width: 64px; 
  max-width: 64px; 
}

tbody th {
  width: calc(100% - 192px); 
}

tr[class="total"] {
  border-bottom: 4px double #0a0a23;
  font-weight: bold;
}

tr[class="total"] th {
  text-align: left;
  padding: 8px 0 4px 8px; 
}

tr.total td {
  text-align: right;
  padding: 0 4px; 
}

tr.total td:nth-of-type(3) {
  padding-right: 8px; 
}

tr.total:hover {
  background-color: #99c9ff;
}

td.current {
  font-style: italic;
}

tr.data {
  background-image: linear-gradient(to bottom, #dfdfe2 29px, white 29px); 
}

tr.data th {
  text-align: left;
  padding-top: 5px; 
  padding-left: 8px; 
}

tr.data th .description {
  display: block;
  font-weight: normal;
  font-style: italic;
  padding: 16px 0 12px; 
  margin-right: -216px; 
  word-spacing: 3px; 
}

tr.data td {
  vertical-align: top;
  padding: 5px 4px 0; 
  text-align: right;
  padding-right: 30px; 
}

table td {
  word-wrap: break-word; 
  white-space: normal; 
  max-width: 100%; 
  padding: 8px; 
}

th {
  width: 25%; 
  text-align: left;
}

table th {
  padding: 8px; 
  text-align: left;
}

.gym-icon {
  position: absolute;
  font-size: 48px; 
  color: #fff;
  z-index: -1;
  animation: moveIcon 12s infinite ease-in-out;
}

/* ANIMATION TIME */

@keyframes moveIcon {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(150px, 100px); /* Increased horizontal and vertical movement */
  }
  50% {
    transform: translate(-150px, 200px); /* Increased horizontal and vertical movement */
  }
  75% {
    transform: translate(200px, -150px); /* Increased horizontal and vertical movement */
  }
  100% {
    transform: translate(0, 0);
  }
}

/* MEDIA QUERY */

@media (max-width: 600px) {
  .gym-icon {
      font-size: 2rem; /* Smaller icon size */
  }
}

@media (max-width: 768px) {
  .gym-icon {
      font-size: 3rem;
  }
}